CompileFlags:
  CompilationDatabase: build
Diagnostics:
  UnusedIncludes: None
  MissingIncludes: None
  Suppress:
    - template_instantiation_undefined
    - drv_unknown_argument
Index:
  Background: Build
